/* MixinImports */
/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Lato, sans-serif;
}

/* Header styling */
header {
  background-color: #fff8f5;
}

.headerDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.items {
  text-decoration: none;
}
.items a {
  text-decoration: none;
}
.items li {
  color: #020303;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  background: radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), #229c73;
  -webkit-background-clip: text, text, padding-box, padding-box, text;
  background-clip: text, text, padding-box, padding-box, text;
  background-size: 0% 0%;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.items li:hover {
  background-size: 50% 100%;
  border-radius: 15%;
}

.activeClass {
  text-decoration: none;
}
.activeClass li {
  color: #020303;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  background: radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), #229c73;
  -webkit-background-clip: text, text, padding-box, padding-box, text;
  background-clip: text, text, padding-box, padding-box, text;
  background-size: 0% 0%;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  transition: 0.5s;
  background-size: 50% 100%;
  border-radius: 15%;
}

.inactiveClass {
  text-decoration: none;
}
.inactiveClass a {
  text-decoration: none;
}
.inactiveClass li {
  color: #020303;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  background: radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), #229c73;
  -webkit-background-clip: text, text, padding-box, padding-box, text;
  background-clip: text, text, padding-box, padding-box, text;
  background-size: 0% 0%;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.inactiveClass li:hover {
  background-size: 50% 100%;
  border-radius: 15%;
}

/* ImgLogoDiv */
.imgLogoDiv:hover {
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Search/stories and whatsapp div styling */
.searchDiv {
  margin-right: 20px;
  /* Mixin NavBar hover effect */
}
.searchDiv ul {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.searchDiv a {
  text-decoration: none;
}
.searchDiv li {
  color: #020303;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  background: radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), #229c73;
  -webkit-background-clip: text, text, padding-box, padding-box, text;
  background-clip: text, text, padding-box, padding-box, text;
  background-size: 0% 0%;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.searchDiv li:hover {
  background-size: 50% 100%;
  border-radius: 15%;
}

/* Cart div */
.cartDiv {
  grid-column: 3/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: 50px;
  gap: 10px;
}
.cartDiv a {
  text-decoration: none;
}
.cartDiv li a {
  text-decoration: none;
}
.cartDiv li li {
  color: #020303;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  background: radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at top left, #b6e2d3 98%, #229c73), radial-gradient(100% 100% at bottom right, #b6e2d3 98%, #229c73), #229c73;
  -webkit-background-clip: text, text, padding-box, padding-box, text;
  background-clip: text, text, padding-box, padding-box, text;
  background-size: 0% 0%;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.cartDiv li li:hover {
  background-size: 50% 100%;
  border-radius: 15%;
}

.imgLogoDiv {
  grid-column: 2/3;
  grid-row: 1/2;
}
.imgLogoDiv .logo {
  height: 150px;
  width: 250px;
  margin-left: 150px;
}

/* itemsDiv styling */
.itemsDiv {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 20px;
}
.itemsDiv ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .headerDiv {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .itemsDiv {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .itemsDiv ul {
    justify-content: space-around;
  }
  .searchDiv {
    grid-column: 1/4;
    /* Updated from 1/3 */
    grid-row: 1/2;
    margin-left: 10px;
  }
  .searchDiv ul {
    justify-content: center;
  }
  .imgLogoDiv {
    grid-column: 1/4;
    /* Updated from 2/3 */
    grid-row: 2/3;
    margin-left: 0;
  }
  .imgLogoDiv .logo {
    margin-left: 380px;
    text-align: center;
  }
  .cartDiv {
    grid-column: 1/4;
    /* Updated from 3/3 */
    grid-row: 4/5;
    width: 100%;
    margin-left: 10px;
  }
  .cartDiv ul {
    margin-right: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  /* Adjust styles for medium-sized devices */
  .imgLogoDiv {
    grid-row: 2;
    grid-column: 1/3;
    justify-content: center;
  }
  .cartDiv {
    margin-left: 5px;
  }
  .searchDiv ul {
    justify-content: space-around;
  }
  /* Show itemsDiv */
  .itemsDiv {
    display: block;
    margin-top: 20px;
    grid-row: 3;
    grid-column: 1;
  }
  .itemsDiv ul {
    justify-content: space-around;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .headerDiv {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .imgLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgLogoDiv a {
    margin-left: -300px;
  }
  .searchDiv,
  .cartDiv {
    grid-column: 1/2;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 10px;
  }
  .itemsDiv {
    margin-top: 20px;
    grid-row: 3;
    grid-column: 1;
    justify-content: space-around;
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  /* Adjust styles for small-sized devices */
  .headerDiv {
    margin: 0 10px;
  }
  .searchDiv {
    margin-left: 0;
  }
  .logo {
    margin-left: 20px;
  }
  .cartDiv {
    margin-left: 20px;
  }
}
/* phones */
@media screen and (width: 390px) and (height: 844px) {
  .headerDiv {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .imgLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgLogoDiv .logo {
    margin-left: 60%;
  }
  .searchDiv,
  .cartDiv {
    grid-column: 1/2;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 10px;
  }
  .itemsDiv {
    display: block;
    margin-top: 20px;
    grid-row: 3;
    grid-column: 1;
    justify-content: space-around;
    width: 100%;
  }
}/*# sourceMappingURL=NavBar.css.map */