.mainItemsDiv {
    background-color: rgb(255 248 245);


    @media screen and (width: 490px) and (height: 844px) {

        .productsContainer {
            display: grid;
            grid-template-columns: max-content;
            grid-template-rows: max-content;
            justify-content: space-around;
        }

        .cardProduct {
            grid-column: 1;
            grid-row: auto;
            justify-content: center;
        }
    }

}


.mainItemsDiv {
    @media screen and (min-width: 584px) and (max-width: 1280px) {
        background-color: rgb(255 248 245);

        .cardProduct {
            grid-column: 1;
            grid-row: auto;
            display: flex;
            justify-content: center;

            .card {
                text-align: center;
            }
        }

    }
}